body{
    margin-bottom: 600px;
    background-image: url("сайт2.png");
    width: 1900px;
    height: 2450px;
    }
    .krovat_btn {
    
        margin-bottom: 600px;
    }
    .beborba{
        margin-left: 302px;
        margin-top: 30px;
        opacity: 0%;
        height: 22px;
        
    }